@using AjourNet.Domain.ViewModels
@model UserPostModel

@{
    Layout = null;
}

<div>
    <div class="col-xs-3">
        <img src="~/Images/no-photo.jpg " class="img-thumbnail " id="slallProfileImage">
    </div>


    @using (Ajax.BeginForm("Create", "Post", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "feedsContainer" }, new { @class = "form-horizontal", @id = "createPostForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-xs-9">
            @*<textarea rows="2" class="form-control" style="max-width:inherit" id="createPos t" placeholder="Type your post here...">
                @Html.EditorFor(model => model.Text,"Type your post here...", new{@class="text-area"})
             </textarea>*@ 
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
            <br>
            <div class="text-right">
                <button id="createPost"  class=" btn btn-primary">Post</button>
            </div>
        
         </div>

        
    }


</div>
