@model IEnumerable<AjourNet.Domain.ViewModels.UserSearchViewModel>
@{
    Layout = null;
}

        <div class="col-md-3">
            photo
        </div>
        <div class="col-md-9" style="float: left">

            <div class="col-md-6">
                First
            </div>

            <div class="col-md-6">
                Last
            </div>

            <div class="col-md-12">
                Status
            </div>
            <div class="col-md-6">
                Occupation
            </div>

            <div class="col-md-6">
                Location
            </div>

        </div>